#mail{
    width: 70%;
    height: 10%;
    font-size: 200%;
    font-style: bold;
    margin-top: 10%;
    margin-left: 10%;
    border: solid;
    
}

/*#mail{
    height:50px;
    width: 50px;
    border-radius: 50%;
    border:solid;
    margin-left: 100px ;
    margin-top: 10px;
    color:black;
    font-size: 24px;
}*/